<%- include('partials/header.ejs') %>
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<link rel="stylesheet" href="/style/common.css">
<link rel="stylesheet" href="/style/list.css">
<title>List</title>
</head>
<body>
    <div id="content">
      <div id="header">
          <img id="back" src="/img/icons/back.png" alt="back">
          <p id="list-name"><%= list.name %></p>
          <img src="/img/refresh.png" alt="refresh icon" id="list-refresh">
      </div>


      <div class="list">

        <div id="list-code">CODE: <%= list.code %></div>
        <% let code = list.code %>
        <p id="add" data-toggle="modal" data-target="#myModal">+</p>


        <div id="categories">
          <%- include('partials/list/categories') %>
        </div>

        <div id="crossed-off">
          <div id="crossed-off-header">
            <div id="crossed-off-title">
              Crossed Off
            </div>
          </div>
          <%- include('partials/list/crossedOffItems') %>
        </div>

        <div id="footer">
          <div id="delete-list" onclick="deleteList()">
            Delete List
          </div>
        </div>
      </div>
    </div>


    <%- include('partials/modals/addCategory.ejs') %>

  <script src="/js/list/localUpdate.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    let socket = io();
    let code = <%- code %>;

    document.getElementById('back').addEventListener('click', function() {
            window.location.href = "/myLists";
        });

    document.getElementById('list-refresh').addEventListener('click', function() {
      document.location.reload();
    });

    function addItem(category) {
      let itemDesc = document.getElementById(`${category}-text`);
      let itemQnt = 1;

      // First render changes locally
      localAddItem({category: category, item: itemDesc.value, qnt: itemQnt});

      // Then send out changes to other clients
      socket.emit('add-item', {category: category, item: itemDesc.value, qnt: itemQnt});

      // Then update database with changes
      axios.post('/list/addItem', {
          code: code,
          category: category,
          item: itemDesc.value,
          qnt: itemQnt
      });

      itemDesc.value = "";
      document.getElementById(`${category}-number`).value = "";
    }

    function addCategory() {
      let categoryName = document.getElementById("new-category").value;
        if(categoryName !== "") {

          localAddCategory(categoryName);

          socket.emit('add-category', categoryName);

          // Send request to save category in database
          axios.post('/list/addCategory', {
            categoryName: categoryName,
            code: code
          });
        }
    }

    function deleteItem(itemId) {
      let array = itemId.split('-');

      localDeleteItem(itemId);

      socket.emit('remove-item', itemId);

      axios.delete('/list/item', { 
        data: {
          item: array[1], 
          code: code
        }
      });
    }

    function deleteCategory(categoryName) {
      localDeleteCategory(categoryName);

      socket.emit('remove-category', categoryName);

      axios.delete('/list/category', { 
        data: {
          categoryName: categoryName, 
          code: code
        }
      });
    }

    function decrement(itemId) {
      let qntElement = document.getElementById(itemId).children[2];
      let qnt = qntElement.innerHTML;

      if(qnt !== "0") {
        localDecrement(itemId);

        let array = itemId.split('-');
        let category = array[0];
        let item = array[1];
        qnt--;

        socket.emit("decrement", itemId);

        axios.post('/list/changeQnt', {
          category,
          item,
          qnt: qnt.toString(),
          code
        });
      }
    }

    function increment(itemId) {

      let qntElement = document.getElementById(itemId).children[2];
      let qnt = qntElement.innerHTML;

      let array = itemId.split('-');
      let category = array[0];
      let item = array[1];
      qnt++;

      localIncrement(itemId);

      socket.emit("increment", itemId);

      axios.post('/list/changeQnt', {
        category,
        item,
        qnt: qnt.toString(),
        code
      });
    }

    function crossOffItem(itemId) {
      let array = itemId.split('-');

      let category = array[0];
      let description = array[1];
      let quantity = document.getElementById(itemId).children[2].innerHTML;

      localCrossOff({
        category,
        description,
        quantity
      });

      socket.emit('cross-off-item', {
        category,
        description,
        quantity
      });

      axios.post('/list/crossOff', {
          category,
          description,
          quantity,
          code
      });
    }

    function addBack(itemId) {
      let array = itemId.split('-');
      let category = array[0];
      let item = array[1];
      let qnt = array[2];

      localAddItem({category, item, qnt});
      localUncrossOff(itemId);
      
      socket.emit('add-item', {category, item, qnt});
      socket.emit('un-cross-off', itemId);

      axios.post('/list/removeCrossedOff', {
          category,
          item,
          qnt,
          code
      });
    }

    function moveDown(category) {
      let element = document.getElementById(category);

      if(element.nextElementSibling) {
        localMoveDown(category);

        socket.emit('move-down', category);

        axios.post('/list/moveDown', {
          category,
          code
        });
      }
    }

    function moveUp(category) {
      let element = document.getElementById(category);

      if(element.previousElementSibling) {
        localMoveUp(category);

        socket.emit('move-up', category);

        axios.post('/list/moveUp', {
          category,
          code
        });
      }
    }

    async function deleteList() {
      let msg = await axios.delete('/list', { 
        data: {
          code: code
        }
      });

      localDeleteList();

      socket.emit('delete-list');
    }
  </script>
  <script src="/js/list/listeners.js"></script>
</body>
</html>