<%
        list.categories.forEach(category => {%>
        <div class="category" id="<%= category.name %>">
          <div class="category-header">
            <div class="move-down" onclick="moveDown('<%= category.name %>')">▼</div>
            <div class="move-up" onclick="moveUp('<%= category.name %>')">▲</div>
            <p class="category-title"><%= category.name %></p>
            <img class="delete-category" src="/img/delete.png" alt="trash can" onclick="deleteCategory('<%= category.name %>')">
          </div>
          <div class="new-item">
            <input class="new-item-text-input" type="text" placeholder="Item description" id="<%= category.name %>-text">
            <img src="/img/icons/add.png" class="new-item-btn" onclick="addItem('<%= category.name %>')" />
          </div>
          <% category.items.forEach(item => { %>
          <div class="item" id="<%= category.name %>-<%= item.name %>">
            <div class="item-desc">
              <%= item.name %> 
            </div>
            <img src="https://cdn.glitch.global/71abb948-06b6-45e2-9e86-296831ccc27f/48C3862F-B100-4C96-9E13-4904E8110A92.png?v=1670449112716" class="item-qnt-down" onclick="decrement('<%=category.name%>-<%=item.name%>')" />
            <div class="item-qnt"><%=item.quantity%></div>
            <img src="https://cdn.glitch.global/71abb948-06b6-45e2-9e86-296831ccc27f/7FC7EC0F-DC94-41A5-8463-74BE4F73965B.png?v=1670449121956" class="item-qnt-up" onclick="increment('<%=category.name%>-<%=item.name%>')" />
            <img src="/img/icons/delete.png" class="item-delete" onclick="crossOffItem('<%=category.name%>-<%=item.name%>')" />
          </div>
          <% }); %>
        </div>
        <%});
    %>