<% list.crossedOff.forEach(crossedOffItem => { %>
    <div id="<%= crossedOffItem.category %>-<%= crossedOffItem.name %>-<%= crossedOffItem.quantity %>" class="crossed-off-item">
      <div class="crossed-off-text" onclick="addBack('<%= crossedOffItem.category %>-<%= crossedOffItem.name %>-<%= crossedOffItem.quantity %>')">
        <%= crossedOffItem.quantity %> - <%= crossedOffItem.name %>
      </div>
      <img src="/img/icons/permDelete.png" class="deleteItem" onclick="deleteItem('<%= crossedOffItem.category %>-<%= crossedOffItem.name %>-<%= crossedOffItem.quantity %>')" />
    </div>
  <% }) %>